@use "../utils/variables"
  
.page
  display: flex
  flex-direction: column
  gap: 90px
  
.main_content
  display: flex
  gap: 90px

.main_content_image
  flex-grow: 1
  display: flex
  justify-content: center
  align-items: center

.main_content_copy
  max-width: 350px

.title
  margin-bottom: 25px

.text
  margin-bottom: 25px

.source
  margin-bottom: 40px
  color: variables.$silver

.wikipedia
  text-transform: capitalize
  color: variables.$silver
  text-decoration: underline

@media screen and ( max-width: 800px )
  .main_content
    flex-direction: column

  .main_content_copy
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 100%
    gap: 40px

  .main_content_copy_text
    width: 45%

  .main_content_copy_buttons
    flex-grow: 1

@media screen and ( max-width: 600px )
  .main_content_copy
    flex-direction: column
    align-items: flex-start
    gap: 0
    text-align: center

  .main_content_copy_text
    width: 100%