@use "../utils/variables"
  
.buttons
  display: flex
  flex-direction: column
  gap: 16px

.button
  width: 100%
  border: 1px solid variables.$granit
  padding: 15px 30px
  display: flex
  gap: 30px
  transition: 0.1s ease

  &:hover
    background-color: variables.$granit

.mercury.active
  background-color: variables.$mercury

.venus.active
  background-color: variables.$venus

.earth.active
  background-color: variables.$earth

.mars.active
  background-color: variables.$mars

.jupiter.active
  background-color: variables.$jupiter

.saturn.active
  background-color: variables.$saturn

.uranus.active
  background-color: variables.$uranus

.neptune.active
  background-color: variables.$neptune

@media screen and ( max-width: 650px )
  .buttons
    display: none
  