@use './utils/variables'

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background: variables.$dark

h1
  font-family: var(--antonio)
  font-weight: 500
  font-size: 80px
  line-height: 103px
  color: variables.$light
  text-transform: uppercase

h2
  font-family: var(--antonio)
  font-weight: 500
  font-size: 40px
  line-height: 52px
  letter-spacing: -1.5px
  color: variables.$light
  text-transform: uppercase

h3
  font-family: var(--spartan)
  font-weight: 700
  font-size: 12px
  line-height: 25px
  letter-spacing: +2.6px
  color: variables.$light
  text-transform: uppercase

h4
  font-family: var(--spartan)
  font-weight: 700
  font-size: 11px
  line-height: 25px
  letter-spacing: +1px
  color: variables.$light
  text-transform: uppercase

a
  font-family: var(--spartan)
  font-weight: 700
  font-size: 14px
  line-height: 25px
  color: variables.$light
  text-decoration: none
  text-transform: uppercase

div, p, ul, li
  font-family: var(--spartan)
  font-weight: 400
  font-size: 14px
  line-height: 25px
  color: variables.$light
  list-style: none

section, nav
  padding: 25px

section
  max-width: 1000px
  margin: 0 auto
  padding: 125px 25px